[metadata]
version = "1.0"

[versions]
# Logging
slf4j = "2.0.16"
log4j = "2.24.2"

# Code quality
annotations = "26.0.1"
lombok = "8.11"

# Build
indra = "3.1.3"
nexusPublish = "2.0.0"
shadow = "8.1.8"

# Test
junit = "5.11.3"

# Protocol
netty = "5.0.0.Alpha5"
netline = "1.0.3-SNAPSHOT"

[libraries]
# Logging
slf4j = { module = "org.slf4j:slf4j-api", version.ref = "slf4j" }
log4j = { module = "org.apache.logging.log4j:log4j-api", version.ref = "log4j" }

# Code quality
annotations = { module = "org.jetbrains:annotations", version.ref = "annotations" }

# Build
build-indra-common = { module = "net.kyori:indra-common", version.ref = "indra" }
build-indra-publishing = { module = "net.kyori:indra-publishing-gradle-plugin", version.ref = "indra" }

# Test
test-junit-bom = { module = "org.junit:junit-bom", version.ref = "junit" }
test-junit-api = { module = "org.junit.jupiter:junit-jupiter-api" }
test-junit-engine = { module = "org.junit.jupiter:junit-jupiter-engine" }
test-junit-params = { module = "org.junit.jupiter:junit-jupiter-params" }
test-junit-launcher = { module = "org.junit.platform:junit-platform-launcher" }

# Protocol
netty = { group = "io.netty", name = "netty5-all", version.ref = "netty" }
netline = { group = "dev.httpmarco", name = "netline", version.ref = "netline" }

[plugins]
indra-sonatype = { id = "net.kyori.indra.publishing.sonatype", version.ref = "indra" }
nexusPublish = { id = "io.github.gradle-nexus.publish-plugin", version.ref = "nexusPublish" }
shadow = { id = "io.github.goooler.shadow", version.ref = "shadow" }
lombok = { id = "io.freefair.lombok", version.ref = "lombok" }