[versions]
lombok = "1.18.34"
annotations = "24.1.0"
osgan = "1.2.16-SNAPSHOT"

gson = "2.11.0"

jline = "3.26.3"

minimessage = "4.17.0"
bungeeminimessage = "4.3.4"

#platforms
velocity = "3.3.0-SNAPSHOT"
paper = "1.20.4-R0.1-SNAPSHOT"
bungeecord = "1.20-R0.2"

# publishing
nexus-publish = "2.0.0"

[libraries]
lombok = { group = "org.projectlombok", name = "lombok", version.ref = "lombok" }
annotations = { group = "org.jetbrains", name = "annotations", version.ref = "annotations" }
osgan-netty = { group = "dev.httpmarco", name = "osgan-netty", version.ref = "osgan" }
gson = { group = "com.google.code.gson", name = "gson", version.ref = "gson" }

#platforms
velocity = { group = "com.velocitypowered", name = "velocity-api", version.ref = "velocity" }
paper = { group = "io.papermc.paper", name = "paper-api", version.ref = "paper" }
bungeecord = { group = "net.md-5", name = "bungeecord-api", version.ref = "bungeecord" }


minimessage = { group = "net.kyori", name = "adventure-text-minimessage", version.ref = "minimessage" }
bungeeminimessage = { group = "net.kyori", name = "adventure-platform-bungeecord", version.ref = "bungeeminimessage" }

jline = { group = "org.jline", name = "jline", version.ref = "jline" }

[bundles]
utils = ["lombok", "annotations"]

[plugins]
nexus-publish = { id = "io.github.gradle-nexus.publish-plugin", version.ref = "nexus-publish" }
