[versions]
lombok = "1.18.32"
annotations = "24.1.0"
osgan = "1.2.12-SNAPSHOT"

gson = "2.11.0"
toml = "3.8.0"

jansi = "2.4.1"
jline = "3.26.2"

commons = "2.16.1"

minimessage = "4.17.0"
bungeeminimessage = "4.3.3"

#platforms
velocity = "3.3.0-SNAPSHOT"
paper = "1.20.4-R0.1-SNAPSHOT"
bungeecord = "1.20-R0.2"

# publishing
nexus-publish = "2.0.0"

[libraries]
lombok = { group = "org.projectlombok", name = "lombok", version.ref = "lombok" }
annotations = { group = "org.jetbrains", name = "annotations", version.ref = "annotations" }

osgan-utils = { group = "dev.httpmarco", name = "osgan-utils", version.ref = "osgan" }
osgan-files = { group = "dev.httpmarco", name = "osgan-files", version.ref = "osgan" }
osgan-netty = { group = "dev.httpmarco", name = "osgan-netty", version.ref = "osgan" }

gson = { group = "com.google.code.gson", name = "gson", version.ref = "gson" }
toml = { group = "com.electronwill.night-config", name = "toml", version.ref = "toml" }

commons = { group = "commons-io", name = "commons-io", version.ref = "commons" }

#platforms
velocity = { group = "com.velocitypowered", name = "velocity-api", version.ref = "velocity" }
paper = { group = "io.papermc.paper", name = "paper-api", version.ref = "paper" }
bungeecord = { group = "net.md-5", name = "bungeecord-api", version.ref = "bungeecord" }


minimessage = { group = "net.kyori", name = "adventure-text-minimessage", version.ref = "minimessage" }
bungeeminimessage = { group = "net.kyori", name = "adventure-platform-bungeecord", version.ref = "bungeeminimessage" }


jansi = { group = "org.fusesource.jansi", name = "jansi", version.ref = "jansi" }
jline = { group = "org.jline", name = "jline", version.ref = "jline" }

[bundles]
utils = ["lombok", "osgan-utils", "osgan-files", "annotations"]
console = ["jline", "jansi", "annotations"]

[plugins]
nexus-publish = { id = "io.github.gradle-nexus.publish-plugin", version.ref = "nexus-publish" }
