# Discord Bot Token
DISCORD_TOKEN=YOUR_BOT_TOKEN

# Discord Client ID
DISCORD_CLIENT_ID=YOUR_CLIENT_ID

# bStats Plugin IDs
BSTATS_VELOCITY_PLUGIN_ID=26763
BSTATS_BUNGEECORD_PLUGIN_ID=26764

# GitHub Token (optional, but recommended for higher rate limits)
GITHUB_TOKEN=YOUR_GITHUB_TOKEN

# Bot Configuration
BOT_STATUS=PoloCloud Stats

# TICKETSYSTEM
TICKET_CHANNEL_ID=
TICKET_CATEGORY_ID=
TICKET_SUPPORT_ROLE_ID=
TICKET_ARCHIVE_CATEGORY_ID=

# APPLY SYSTEM
APPLY_CHANNEL_ID=
APPLY_CATEGORY_ID=
APPLY_STAFF_ROLE_ID=
APPLY_ARCHIVE_CATEGORY_ID=
APPLY_PARTNER_EMOJI_ID=
APPLY_TRANSLATOR_EMOJI_ID=