<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="dev.httpmarco.polocloud.node.terminal.logging">
    <Appenders>
        <Log4j2Appender name="Log4j2Appender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Log4j2Appender>
        <RollingFile name="RollingFile" fileName="logs/latest.log"
                     filePattern="logs/archive/%d{yyyy-MM-dd}.zip">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="logs/archive/*.zip"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Log4j2Appender"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>